# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

update.md
progress.md
analysisis.md
analysisis_options.yaml
build_script.sh
BUILD_GUIDE.md
build_script.bat
design_system.md
design_thinking.md
figma_sus_template.md
implementation_plan.md
new_update.md
progress.md
sus_evaluation.md
sus_score_65_percent.md
sus_score_template_blank.md
ui_mockup.md
update.md